<div style=" background-color: RGB(200,200,10);" >
<h1 style="margin: auto; padding: 20px 0; color:#fff; text-align: center"> Projet "Geek au quotidien "
</h2>
<h3 style="margin: auto; padding: 20px 0; color:#fff; text-align: center">Partie 1: Traitement et test
</h3>
</div>

<div style="background-color: RGB(200,200,20) ; ">
<h2 style="margin: auto; padding: 20px; color:#fff; "> Programmation</a> 
</div>

## Astuce Python : Comprendre les list comprehension

‚ú® **Conseil du jour - Programmation** ‚ú®\
üî• **Astuce Python : Comprendre les List Comprehensions** üî•\
**Les list comprehensions en Python permettent de cr√©er des listes en une seule ligne de mani√®re √©l√©gante et efficace. Plut√¥t que d‚Äôutiliser une boucle for classique, tu peux simplifier ton code.**\
‚úÖ **Exemple classique :**

In [1]:
numbers = [1, 2, 3, 4, 5]
squared = []
for num in numbers:
    squared.append(num ** 2)
print(squared)  # [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

‚úÖ **Version avec list comprehension :**

In [2]:
squared = [num ** 2 for num in numbers]
print(squared)  # [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

üìå **Bonus : Ajouter une condition**\
Tu peux aussi filtrer les √©l√©ments en ajoutant une condition :

In [3]:
even_numbers = [num for num in numbers if num % 2 == 0]
print(even_numbers)  # [2, 4]

[2, 4]

**üõ† Petit challenge : \
Essaie d‚Äô√©crire une list comprehension qui transforme une liste de mots en majuscules mais garde uniquement ceux qui font plus de 3 lettres !** \

## Petit challenge
### Brouillon

In [4]:
ListeMots=["lapin", "chaussure", "fromage","voiture", "ton","la","ta"]
MotsMaj=map(lambda x: x.upper(), ListeMots)
print(list(MotsMaj))

['LAPIN', 'CHAUSSURE', 'FROMAGE', 'VOITURE', 'TON', 'LA', 'TA']

In [5]:
Plus3Mots=[plus3mots for plus3mots in ListeMots if len(plus3mots)>3]
print(Plus3Mots)

['lapin', 'chaussure', 'fromage', 'voiture']

### R√©ponse

In [6]:
ListeMots=["lapin", "chaussure", "fromage","voiture", "ton","la","ta"]

MOTSMAJ=[plus3mots.upper() for plus3mots in ListeMots if len(plus3mots)>3]
print(MOTSMAJ)

['LAPIN', 'CHAUSSURE', 'FROMAGE', 'VOITURE']

<div style="background-color: RGB(200,200,20) ; ">
<h2 style="margin: auto; padding: 20px; color:#fff; "> Data Analyse</a> 
</div>

## Astuce pour optimiser les DataFrames Pandas

‚úÖ **1. Utiliser astype() pour r√©duire la m√©moire**\
Par d√©faut, pandas stocke souvent les nombres sous float64, ce qui consomme plus de m√©moire que n√©cessaire. Convertir les types peut am√©liorer les performances :

In [7]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'col1': np.random.randint(0, 100, 100000)})
print(df['col1'].dtype) # int64
df['col1'] = df['col1'].astype('int32')
print(df['col1'].dtype) # int32 (consomme moins de m√©moire)

int32
int32

‚úÖ **2. Charger uniquement les colonnes n√©cessaires**\
Si ton fichier CSV contient beaucoup de colonnes inutiles, charge uniquement celles dont tu as besoin :

**df = pd.read_csv("data.csv", usecols=['col1', 'col2'])**

‚úÖ**3. Filtrer les donn√©es efficacement**
Au lieu d'utiliser une boucle, privil√©gie le filtrage vectoris√© :

In [8]:
df_filtered = df[df['col1'] > 50] # Plus rapide qu'une boucle for
df_filtered.head(3)

   col1
0    79
2    61
3    64

‚úÖ**4. Appliquer les transformations avec apply() de mani√®re efficace**\
√âvite les boucles en appliquant une fonction sur une colonne enti√®re :

In [9]:
df['col1_squared'] = df['col1'].apply(lambda x: x ** 2)
df.head(5)

   col1  col1_squared
0    79          6241
1    49          2401
2    61          3721
3    64          4096
4    10           100

üõ† **Petit challenge :**\
Optimisations sur un DataFrame volumineux et mesure l‚Äôimpact avec df.info() avant et apr√®s les modifications.

## Petit challenge
### Brouillon

### Etape 1: R√©duction de la m√©moire

**<span style="color:blue">Pour l'exemple j'importe le fichier xlsx "erp" donn√© par OpenClassrooms lors de ma formation Data Analyst. </span>**

In [10]:
erp=pd.read_excel("erp-Copy1.xlsx")
erp.head(5)

C:\Users\bello\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

   product_id  onsale_web  price  stock_quantity stock_status
0        3847           1   24.2               0   outofstock
1        3849           1   34.3               0   outofstock
2        3850           1   20.8               0   outofstock
3        4032           1   14.1               0   outofstock
4        4039           1   46.0               0   outofstock

In [11]:
#Consulter le nombre de colonnes
#La nature des donn√©es dans chacune des colonnes
#Le nombre de valeurs non-nulles pr√©sentes dans chacune des colonnes
#M√©moire consomm√©e par le dataframe
erp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 825 entries, 0 to 824
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      825 non-null    int64
 1   onsale_web      825 non-null    int64
 2   price           825 non-null    float64
 3   stock_quantity  825 non-null    int64
 4   stock_status    825 non-null    object
dtypes: float64(1), int64(3), object(1)
memory usage: 32.4+ KB

In [19]:
#Changement de types 
erp=erp.astype({"product_id":np.object,"onsale_web":np.int32,"stock_quantity":np.int32,"price":np.float32})

C:\Users\bello\AppData\Local\Temp\ipykernel_164852\178861810.py:2: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  erp=erp.astype({"product_id":np.object,"onsale_web":np.int32,"stock_quantity":np.int32,"price":np.float32})

In [13]:
#V√©rifier si la m√©moire consomm√©e par le dataframe a bien diminu√©
erp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 825 entries, 0 to 824
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      825 non-null    object
 1   onsale_web      825 non-null    int32
 2   price           825 non-null    float32
 3   stock_quantity  825 non-null    int32
 4   stock_status    825 non-null    object
dtypes: float32(1), int32(2), object(2)
memory usage: 22.7+ KB

**<span style="color:blue">La m√©moire du fichier dataframe passse de 32.4kB √† 22.7kB La m√©moire est optimis√©e avec succ√®süòäüëå</span>**