<div style=" background-color: RGB(300,200,10);" >
<h1 style="margin: auto; padding: 20px 0; color:#fff; text-align: center"> Notebook exercice 
</h1>
<h2 style="margin: auto; padding: 20px 0; color:#fff; text-align: center">Programmer avec le langage Python appliqué à l'analyse des données 
</h2>
</div>

<div style="background-color: RGB(300,200,20) ; ">
    <h2 style="margin: auto; padding: 20px; color:#fff; "> PARTIE I : EXERCICES </a> 
</div>

  ### **Exercice d'application n°1.1**

**-> Calculez 5 puissance 3**

In [17]:
5**3

125

**-> Ensuite soustraire 100 du résultat**

In [18]:
5**3-100

25

**-> Et enfin divisez le résultat par 5.**

In [19]:
(5**3-100)/5

5.0

  ### **Exercice d'application n°1.2**

**-> Affecte 19 à la variable *z*. Quel est le type de la variable *z* ?**

In [41]:
z=19
type(z)

int

**Affecte *z+1* à la variable *z*.**

In [42]:
z=z+1
print(z)

20

**Affecte *z* divisé par 5 à la variable *z*.**

In [43]:
z = z/5
print(z)

4.0

**Affecte *z* puissance 2 à la variable *z*.**

In [44]:
z=z**2
print(z)

16.0

In [45]:
type(z)

float

### **Exercice d'application 1.3**

**Affectez votre prénom à la variable *first_name***

In [ ]:
#Prénom
first_name='Aurélie'

**Affectez votre nom à la variable *last_name***

In [ ]:
#Nom de famille
last_name= 'Bellony-montout'

**Mettez à jour la variable *last_name* en mettant en toutes lettres en Majuscule. Utilisez la méthode ".upper()"**

In [ ]:
#Nom de famille à jour
last_name=last_name.upper()

**Concaténez les variables *first_name* et *last_name* et affectezz le résultat à la variable name en prenant bien soin de créer un espace entre le prénom et le nom.**

In [ ]:
name=first_name+' '+last_name

**Quel est le nombre de caractère de la variable name?**

In [78]:
len(name)

23

**Combien de fois y a t-il le caractère "o" dans la variable *name*? Utilisez la méthode : ".count()"**

In [79]:
name.count('O')

3

**Affectez votre ville de résidence à la variable *city*.**

In [80]:
city="Mantes-La-Jolie"

**Avec une seule fonction *print()*, affichez à l'écran.**

In [91]:
print("Je m'apelle", name, "\nJe vis à", city)

Je m'apelle Aurélie BELLONY-MONTOUT
Je vis à Mantes-La-Jolie

### **Exercice d'application 1.4**

**Demandez le prénom d'utilisateur et stocker sa réponse dans la variable *first_Name*.**

In [95]:
#Demander le prénom
print("Quel est votre prénom?")
first_Name = input()

Quel est votre prénom?
Aurélie

**Demander le nom de l'utilisateur et stocker sa réponse dans la variable *last_Name*.**

In [96]:
#Demander le prénom
print("Quel est votre nom?")
last_Name= input()

Quel est votre nom?
BELLONY-MONTOUT

**Avec une seule fonction print, affichez à l'écran: exemple "Vous vous appelez Steph Ryan"**

In [97]:
print("Vous vous appelez ", first_Name+" "+last_Name)

Vous vous appelez  Aurélie BELLONY-MONTOUT

**Demander l'âge de l'utilisateur et stocker sa réponse dans la variable *Age*. Exemple: 30**

In [99]:
#Demander l'âge
print("Quel âge avez-vous?")
Age=int(input())

Quel âge avez-vous?
31

**Avec une seule fonction "print ()", affichez à l'écran, Exemple: "Vous avez 30 ans donc vous êtes né(e) en 1990." L'année de naissance doit concorder avec l'âge**

In [100]:
from datetime import datetime
birth_year= datetime.now().year - Age
print("Vous avez ", Age,"ans donc vous êtes né(e) en ", birth_year )

Vous avez  31 ans donc vous êtes né(e) en  1993

### **Exercice d'application 1.5**

In [116]:
#Variable City
City= "San Francisco"

In [103]:
#Récupérer les mots "San" et "Francis"
print(City[0:3])
print(City[4:11])

San
Francis

In [120]:
# 4 premiers éléments et les 4 derniers éléments de San Francisco"

#Chercher la longueur du mot City
City2=len(City)
print("Voici les 4 premiers éléments", City[City2-4:])
print("Voici les 4 derniers éléments", City[:4-City2])

Voici les 4 premiers éléments isco
Voici les 4 derniers éléments San

<div style="background-color: RGB(300,200,20) ; ">
<h2 style="margin: auto; padding: 20px; color:#fff; "> Etape 1 - Importation des librairies et chargement des données</a> 
</div>

<div style="border: 5px solid RGB(300,200,20);" >
<h3 style="margin: auto; padding: 20px; color: RGB(300,200,20); ">1.2 - Importation des librairies </h3>
</div>

In [2]:
# Importation des librairies Pandas, Matplotlib et Numpy
import pandas as pd
import matplotlib.pyplot as plt

import plotly.express as px
import statsmodels.api as sm
import statsmodels.formula.api as smf
from scipy.stats import t, shapiro
import scipy.stats as st
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA

from sklearn.preprocessing import StandardScaler
import numpy as np
import seaborn as sns

<div style="border: 5px solid RGB(300,200,0);" >
<h3 style="margin: auto; padding: 20px; color: RGB(300,200,0); ">1.2 - Chargement des fichiers CSV </h3>
</div>

<div style="border: 5px solid RGB(300,200,20);" >
<h3 style="margin: auto; padding: 20px; color: RGB(300,200,20); ">1.3 - Nettoyage des données </h3>
</div>

## **<span style="color:red"> Analyse du 2ème trimestre <span>**

<div style="background-color: RGB(300,200,20);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 2 - Analyse exploratoire des fichiers</h2>
</div>